<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Backoffice</title>
    <style>
        html,body{background: #87CEEB;width: 100%;height: 100%;padding: 0px;margin: 0px;}
        main{display: flex;height: 100%;}
        header{padding: 20px;}
        nav{flex:1;padding: 20px;display: flex;flex-direction: column;gap: 20px;}
        section{flex:5;background: white;padding: 20px;}
        nav a{background: #ffffff;padding: 20px;}
    </style>
</head>
<body>
    <header><h3>Aplicacion empresarial de Dani</h3></header>
    <main>
        <nav>
            <a>Clientes</a>
            <a>Productos</a>
            <a>Pedidos</a>
        </nav>
        <section>Contenido
        </section>
    </main>
</body>
</html>